.rvl-active {
	&.bars {
		@media screen and (max-width: 50em) {
			height: calc(50% - 1.5em);
			overflow-y: auto;
			min-height: calc(50% - 1.5em);
		}
	}

	.sidebar,
	&.bars-with-sidebar-left:before {
		@media screen and (min-width: 50em) {
			display: none !important;
			width: calc( 33.33% / 2 ) !important;
		}

		@media screen and (min-width: 100em) {
			display: block !important;
		}
	}

	.mainbar {
		@media screen and (min-width: 50em) {
			width: calc( 100% / 2 ) !important;
			left: 0 !important;
		}

		@media screen and (min-width: 100em) {
			width: calc( 66.66% / 2 ) !important;
			margin-left: calc( 33.33% / 2 ) !important;
		}
	}
	
	.mainbar .form .buttons {
		@media screen and (min-width: 50em) {
			left: 0 !important;
			width: 50% !important;
		}

		@media screen and (min-width: 100em) {
			left: calc( 50% - 33.33% ) !important;
			width: calc(66.66% / 2) !important;
		}
	}

	.mainbar .form {
		@media screen and ( min-width: 83em ) {
			padding: 0 1.5em 9em;
		}
	}

	.modal {
		@media screen and (min-width: 50em) {
			width: 50%;
		}
	}
}

[data-field="reveal"] {
	position: fixed;
}