.rvl-preview {
	visibility: hidden;
	margin-top: 3em;

	position: fixed;
	background: #fff;
	height: 100%;
	width: 50%;
	top: 0;
	right: 0;

	@media screen and (min-width: 50em ) {
		flex-direction: column;
	}

	.rvl-iframe {
		width: 100%;
		height: calc(100% - 3em);
	    flex: 1;
	    border-left: 2px solid #ddd;

		iframe {
			border: none;
			width: 100%;
			height: 100%;
		}
	}
}

.rvl-active {
	.rvl-preview {
		@media screen and (min-width: 50em ) {
			visibility: visible;
		}
	}
}