@import 'panel';
@import 'open-trigger';
@import 'preview';

/*
.reveal[data-padding="true"] ..reveal-preview-wrap {
	padding: .5em;
}

.field-name-<?php echo $field->name(); ?> .field-content {
	background: #fff;
	border: 2px solid #ddd;
}

.field-name-<?php echo $field->name(); ?> .field-content:after {
	content: '';
	clear: both;
	display: table;
}

.field-name-<?php echo $field->name(); ?> textarea {
	border: 2px solid #ddd;
}
*/